.input{
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
}

.input__icon{
    position: absolute;
    right: 10px;
    bottom: 8px;
    fill: #7E84A3;
}

.input__required{
    color: #F0142F;
}

.input__field-textarea{
    resize: vertical;
    min-height: 100px;
}

.input__field-textarea::-webkit-scrollbar {
    width: 8px;
}

.input__field-textarea::-webkit-resizer {
    display: none;
  }
.input__field-textarea::-webkit-scrollbar-thumb {
    background: #D7DBEC;
    border-radius: 10px;
  }

.input__label{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #7E84A3;
}
.input__field{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    border: 2px solid #ECF2FF;
    border-radius: 6px;
}

.input__interval-picker{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.time-picker{
}



