.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    border-radius: 6px;
}

.primary{
    color: #fff;
    background: #1E5EFF;
    border: none;
}

.green{
    color: #05874F;
    border: 2px solid #05874F;
    background: none;
    font-weight: 600;
}
.red{
    color: #F0142F;
    border: 2px solid #F0142F;
    background: none;
    font-weight: 600;
}

.link-button{
    color: #1E5EFF;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.close-button{
    appearance: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background: #F5F6FA;
    border-radius: 8px;
}

.card-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border: 2px solid #F0142F;
    border-radius: 6px;
    color: #F0142F;
    background: none;
}

.icon-button:hover{
    background-color: #F5F6FA;
}


.close-button:hover{
    background: #E6E9F4;

}