
.horizontal{
    flex-direction: row;
    gap: 20px;
}

.main-page{
    box-sizing: border-box;
    min-width: 736px;
    background: #fff;
    height: 100vh;
    padding: 20px;
}

.main-page__requests{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}